<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
<script th:src="@{/script/script.js}"></script>
</head>
<body th:classappend="${fontSize} + ' ' + (${highContrast} ? 'high-contrast' : '')">
    <header>
        <form th:action="@{/logout}" method="post">
        <input type="submit" class="logout" value="Logout">
        </form>
        <a href="/">Startseite</a>
    </header>
<h1>Alle Anfragen</h1>

<table border="1">

<tr>
    <th>ID</th>
    <th>Betreff</th>
    <th>Status</th>
    <th>Aktionen</th>
</tr>

<tr th:each="request : ${requests}">
    <td th:text="${request.id}"></td>
    <td th:text="${request.subject}"></td>
    <td th:text="${request.status}"></td>
<td>

    <form th:action="@{/admin/request/{id}/accept(id=${request.id})}"
          method="post"
          style="display:inline">

        <button type="submit">
            Anfrage annehmen
        </button>

    </form>

    <form th:action="@{/admin/request/{id}/reject(id=${request.id})}"
          method="post"
          style="display:inline">

        <button type="submit">
            Anfrage ablehnen
        </button>

    </form>

</td>
</tr>

</table>

</body>
</html>