<!DOCTYPE html>
<html>
<head>
    <title>Bestätigung</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
<script th:src="@{/script/script.js}"></script>
</head>
<body th:classappend="${fontSize} + ' ' + (${highContrast} ? 'high-contrast' : '')">
    <header>
        <form th:action="@{/logout}" method="post">
        <input type="submit" class="logout" value="Logout">
        </form>
    </header>
<h1>
    Anfrage erfolgreich eingereicht
</h1>

<a href="/">Zurück</a>

</body>
</html>