<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Serviceportal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
<script th:src="@{/script/script.js}"></script>
</head>
<body th:classappend="${fontSize} + ' ' + (${highContrast} ? 'high-contrast' : '')">
    <header>

    <a href="/settings">Einstellungen</a>

    <button id="notificationBtn"
            th:classappend="${hasUnread} ? 'notification-red' : ''"
            onclick="openModal()">

        🔔
    </button>
            <form th:action="@{/logout}" method="post">
        <input type="submit" class="logout" value="Logout">
    </form>

</header>
<div id="notificationModal" class="modal">

    <div class="modal-content">

        <h2>Ungelesene Benachrichtigungen</h2>

        <ul>
            <li th:each="notification : ${notifications}"
                th:text="${notification.text}">
            </li>
        </ul>

<form th:if="${hasUnread}"
      th:action="@{/notifications/read}"
      method="post">

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />

    <button type="submit">
        Als gelesen markieren
    </button>

</form>

        <button onclick="closeModal()">Schließen</button>

    </div>

</div>

<h1>Serviceangebote</h1>

<ul>
    <li th:each="service : ${services}">
        <span th:text="${service.title}"></span>
    </li>
</ul>

<a href="/request">Anfrage erstellen</a>

</body>
</html>