<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anfrage</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
<script th:src="@{/script/script.js}"></script>
</head>
<body th:classappend="${fontSize} + ' ' + (${highContrast} ? 'high-contrast' : '')">
    <header>
        <form th:action="@{/logout}" method="post">
        <input type="submit" class="logout" value="Logout">
    </form>
        <a href="/">🏠</a>
    </header>

<h1>Serviceanfrage</h1>

<form th:action="@{/request}" method="post" class="wrapper">

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />

    <label>Betreff</label>
    <input type="text" name="subject">

    <br><br>

    <label>Nachricht</label>
    <textarea name="message"></textarea>

    <br><br>

    <label>Service auswählen</label>
    <select name="serviceId">
        <option th:each="service : ${services}"
                th:value="${service.id}"
                th:text="${service.title}">
        </option>
    </select>

    <button type="submit" class="btn">
        Absenden
    </button>

</form>

</body>
</html>