<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samuels-Forum/Post-Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="logout" value="Logout">
    </form>
</header>

<div class="page">
    <div class="menu">
        <ul class="posts">
            <li>
                <a href="/dashboard" class="ul2">Dashboard</a>
            </li>
            <li>
                <a href="/myPosts" class="ul2">My Posts</a>
            </li>
        </ul>
    </div>
    <div class="notmenu">
    <div class="wrapper1">
    <div class="posts">
        <div class="postDetails">
        <h2 th:text="${post.title}">Post Title</h2>
        <p th:text="${post.content}">Post Content</p>
        </div>
        <small th:text="${post.dateTime}">Post Date</small>
    </div>
    <div class="answer">
        <div th:if="${#lists.isEmpty(answerList)}">
            <p>Keine verfügbaren Antworten.</p>
        </div>
        <div class="formdiv">
            <form th:action="@{/post/{id}(id=${post.postID})}" method="POST">
                <div>
                    <label for="content"></label>
                    <textarea id="content" name="content" required class="textfield"></textarea>
                </div>
                <div class="abtn">
                    <input type="submit" value="Antworten" class="btn">
                </div>
            </form>
        </div>
		<div th:if="${!#lists.isEmpty(answerList)}" class="kl">
            <ul class="posts">
                <li th:each="ans : ${answerList}">
                    <div class="pfpname">
                        <p th:text="${ans.userid}" class="pfp"></p>
                        <p th:text="${ans.user.name}" class="name"></p>
                    </div>
                    <p th:text="${ans.content}" class="postBody">Antworttext</p>

                    <form th:if="${currentUser.USERID == ans.userid or currentUser.isMod()}"
                          th:action="@{/post/{postId}/answer/{answerId}/delete(postId=${post.postID}, answerId=${ans.id})}"
                          method="post">
                        <input type="submit" value="Löschen" class="delete-btn"
                               onclick="return confirm('Möchtest du diese Antwort wirklich löschen?');">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                </li>

            </ul>
			<div class="pagination">
			    <span>Seite [[${currentAnswerPage + 1}]] von [[${totalAnswerPages}]]</span>
			    <div>
			        <a th:if="${currentAnswerPage > 0}"
			           th:href="@{'/post/' + ${post.postID} + '?page=' + (${currentAnswerPage - 1})}">Zurück</a>

			        <a th:if="${currentAnswerPage + 1 < totalAnswerPages}"
			           th:href="@{'/post/' + ${post.postID} + '?page=' + (${currentAnswerPage + 1})}">Weiter</a>
			    </div>
			</div>

        </div>
    </div>
    </div>
    <div class="menu2">
        <p>Profil</p>
        <details>
            <p>Name: <span th:text="${currentUser.name}"></span></p>
            <p>ID: <span th:text="${currentUser.USERID}"></span></p>
            <p>Email: <span th:text="${currentUser.email}"></span></p>
            <p>Erstellungsdatum: <span th:text="${currentUser.date}"></span></p>
            <a href="dAccount">Account löschen</a>
        </details>
    </div>
    </div>
</div>
</body>
</html>
