<!DOCTYPE html>
<html xmlns:th="https//www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samuels-Forum/Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">
    <form th:action="@{/register}" method="POST" class="form">
        <div class="h1"><h1>Forum</h1></div>
        <div class="input-box">
            <label for="username">Benutzername</label>
            <input type="text" id="username" name="username" required>
            <div th:if="${usernameError}" class="error">
                <p th:text="${usernameError}"></p>
            </div>
            <div th:if="${usernameLengthError}" class="error">
                <p th:text="${usernameLengthError}"></p>
            </div>
        </div>
        <div class="input-box">
            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" required>
            <div th:if="${passwordError}" class="error">
                <p th:text="${passwordError}"></p>
            </div>
            <div th:if="${passwordLengthError}" class="error">
                <p th:text="${passwordLengthError}"></p>
            </div>
        </div>
        <div class="input-box">
            <label for="confirmPassword">Passwort bestätigen</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <div th:if="${passwordError}" class="error">
                <p th:text="${passwordError}"></p>
            </div>
        </div>
        <div class="input-box">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
            <div th:if="${emailLengthError}" class="error">
                <p th:text="${emailLengthError}"></p>
            </div>
        </div>

        <div class="con">
            <button type="submit" class="btn">Register</button>
            <a class="registerLink" href="/login">Login</a>
        </div>
    </form>
</div>
</body>
</html>