<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Samuels-Forum/verify</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">



<form action="#" th:action="@{/verify}" method="post" class="form">
    <h1 class="h1">E-Mail Verifikation</h1>
	<input type="hidden" name="email" th:value="${email}" />
    <div class="input-box">
    <label for="code">Verifikationscode:</label>
    <input type="text" name="code" id="code" required><br>
    </div>
  <button type="submit" class="btn">Verifizieren</button>
    <div th:if="${error}" class="error">
        <p style="color:red;" th:text="${error}"></p>
    </div>
</form>
<form action="#" th:action="@{/resendVerificationCode}" method="post">
        <input type="hidden" name="email" th:value="${email}"/>
        <button type="submit" class="btn">Verifizierungscode erneut senden</button>
    </form>
</div>
</body>

</html>